* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
}

@keyframes numClick {
    from {
        background-color: #636362;
    }

    50% {
        background-color: #bababa;
    }

    to {
        background-color: #636362;
    }

}

    @keyframes opClick {
        from {
            background-color: orange;
        }
    
        50% {
            background-color: #edddc2;
        }
    
        to {
            background-color: orange;
        }
}

@keyframes setClick {
    from {
        background-color: #deded3;
    }

    50% {
        background-color: #fdfdfd;
    }

    to {
        background-color: #deded3;
    }
}

:root {
    --IphoneWidth: calc(414px);
    --IphoneHeight: calc(896px);
}

.numAnimation {
    animation: numClick 350ms;
}

.opAnimation {
    animation: opClick 350ms;
}

.setAnimation {
    animation: setClick 350ms ;
}

.btn {
    border-radius: 50px;
    color:white;
    font-size: 30px;
}

.regularBtn {
    background-color: #636362;
    transition: background-color 1s;
}

.operatorBtn {
    background-color: orange;
}

.settingsBtn {
    background-color:  #deded3;
    color: black;
}

.selectedBTN {
    background-color: white;
    color: orange;
}


#iphoneMock {
    width: var(--IphoneWidth);
    height: var(--IphoneHeight);
    display: grid;
    grid-template-rows: 40% 60%;
    background-color: #272727;
    padding: 0px 10px 30px 10px;
}

#upperHalf {
    display: flex;
    justify-content: end;
    align-items: end;
    grid-column: 1/-1;
    grid-row: 1/2;
    position: relative;
}

#lowerhalf {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/-1;
    grid-row: 2/3;
    gap: 10px;

}

#zero {
    grid-column: 1/3;
    text-align: left;
    padding-left: 40px;
}

#value {
    display: block;
    color: white;
    position: absolute;
    font-size: 100px;
    bottom: 10px;
    right: 25px;
    font-family: 'Roboto', sans-serif;
}