* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    border: none;
}

:root {
    --IphoneWidth: calc(414px);
    --IphoneHeight: calc(896px);
}

.btn {
    border-radius: 50px;
    color:white;
    font-size: 30px;
}

.regularBtn {
    background-color: #636362;
    transition: background-color 1s;
}

.operatorBtn {
    background-color: orange;
    transition: background-color 1s;
}

.settingsBtn {
    background-color:  #deded3;
    color: black;
    transition: background-color 1s;
}

.settingsBtn:active {
    background-color: #f7f7f7;
}

.selectedBTN {
    background-color: white;
    color: orange;
    transition: background-color 1s;
}


#iphoneMock {
    width: var(--IphoneWidth);
    height: var(--IphoneHeight);
    display: grid;
    grid-template-rows: 40% 60%;
    background-color: #272727;
    padding: 0px 10px 30px 10px;
}

#upperHalf {
    display: flex;
    justify-content: end;
    align-items: end;
    grid-column: 1/-1;
    grid-row: 1/2;
}

#lowerhalf {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: 1/-1;
    grid-row: 2/3;
    gap: 10px;

}

#zero {
    grid-column: 1/3;
    text-align: left;
    padding-left: 40px;
}

#value {
    display: block;
    max-height: 5em;
    height: 4em;
    color: white;
}